*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden; 
}

.container{
    margin: 0px;
    box-sizing: border-box;
    overflow-x: auto;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}